.site-top-nav
    min-height: 30px;
    height: 30px;
    max-height: 30px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: solid 1px black;
    user-select: none;

    .site-logo
        height: 100%;
        width: 60px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background: black;
        color: white;

    .nav-links
        flex: 1;
        a
            text-decoration: none;
            .nav-link
                height: 100%;
                width: 40px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                padding: 0 0.5rem;
                cursor: pointer;
                &:hover
                    text-decoration: underline;
                &.active
                    background: #f8f8f8
    
    .basket
        width: 75px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i
            margin-right: 0.25rem;
        &:hover
            color: gray