.basket-dialog
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    user-select: none;

    .modal-background
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.8);

    .modal
        z-index: 2;
        min-height: 600px;
        height: 50vh;
        max-height: 800px;
        min-width: 750px;
        width: 50vw;
        max-width: 950px
        background: white;
        border-radius: 1rem;
        display: flex;
        flex-flow: column nowrap;
        .modal-header
            font-size: 2rem;
            text-align: center;
        .modal-content
            flex: 1;
            height: 100%
            overflow: hidden;
            .item-list
                flex: 1;
                height: calc(100% - 2rem);
                overflow-y: auto;
            .basket-total
                flex: 0;
                height: 2rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                .discount-code
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    color: red
                    .fa.fa-times
                        margin-right: 0.5rem;
                        cursor: pointer;
                    .discount-amount
                        margin-left: 1rem;
                .amount
                    margin-left: 1rem;
                    font-size: 1.75rem;

        .modal-footer
            flex: 0;
            text-align: center;
            padding: 1rem 0;
            .continue
                margin-right: 1rem;
            .continue, .checkout
                button
                    padding: 0 1rem !important;

@media screen and (min-width: 600px), (max-width: 736px)
    .basket-dialog
        .modal
            min-width: 0;
            width: 100%;
            
@media screen and (min-height: 200px), (max-height: 400px)
    .basket-dialog
        .modal
            min-height: 0;
            height: 100%;