.stock-item
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 175px;
    width: 175px;
    margin: 1rem;
    background: #f8f8f8;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
    border-radius: 1rem;
    .item-image
        display: none;
    .item-details
        display: none;
        height: 100%;
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.5);
        color: white;
        font-size: 1.5rem;
        border-radius: 1rem;

        .text
            flex: 1;
            width: 100%;
            display flex;
            flex-flow: column wrap
            justify-content: center;
            align-items: center;
            .name
                margin-bottom: 0.125rem;
            
            .price
                margin-bottom: 0.125rem;
                font-size: 1.75rem;
        .controls
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding-bottom: 1rem;
            .add-controls
                .add-to-basket-btn
                    margin-top: auto;
                    font-size: 1rem;
                    padding: 0.5rem 1.25rem;
            .basket-controls
                display: none;

    &:not(.basket):hover
        .item-details
            display: flex;
    
    &.basket
        height: 7rem;
        width: 100%;
        margin: 0;
        display: flex;
        flex-flow: row nowrap;
        background-image: none !important;
        background: #f8f8f8;
        .item-image
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            height: 7rem;
            min-width: 7rem;
            width: 7rem;
            img
                max-height: 7rem;
                max-width: 7rem;
        .item-details
            display: flex;
            flex-flow: row nowrap;
            background: none;
            color: black;
            .text
                flex-flow: row nowrap;
                width: auto;
                .price
                    display: none;
            .controls
                width: auto;
                padding: 0;
                margin: 0;
                .add-controls
                    display: none;
                .basket-controls
                    display: flex;
                    flex-flow: row nowrap;
                    .quantity-controls    
                        display: flex;
                        flex-flow: row nowrap;
                        .increment, .decrement
                            margin: 0 1rem;
                            cursor: pointer;
                        .increment.disabled
                            color: silver;
                            cursor: default;
                        .total
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            align-items: center;
                    .total-price
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        min-width: 7rem;
                        max-width: 7rem;
