.home-page
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    user-select: none;
    background: rgba(100,149,237, 0.1)
    .category
        margin-top: 1rem;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        .category-title
            font-size: 1.5rem;
            text-decoration: underline;
        
    .stock-list
        display: flex;
        flex-flow: row wrap;