body
    margin: 0;
    
#root
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    overflow: hidden;

    .page-content
        flex: 1
        overflow-y: auto;
